{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/journal/home.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="box">
        <div class="box0">
        <div class="box1">
            
            <div class="form">
            
            <h2>Sign in</h2>
            <div class="inputbox">
                <input type="text" name="nom" id="nom" required="required">
                <span>Nom d'utilisateur</span>
                <i></i>
            </div>
            <div class="inputbox">
                <input type="password" name="passwd" id="passwd" required="required">
                <span>Mot de pass</span>
                <i></i>
            </div>
            <div class="links">
                <a href="#">Mot de pass oublier</a>
                <a href="#">S'inscrire</a>
            </div>
            <input type="submit" value="Connection">
        </div>
        </div>
        </div>
    </div>

</body>
</html>


